@font-face {
    font-family: Roboto;
    src: url("font/Roboto-Regular.ttf");
}
body {
    font-family: Roboto, sans-serif;
}
header {
    padding: 1rem 3.5rem;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}
ul.nav-links {
    display: flex;
    gap: 80px;
}
button.outlined {
    appearance: none;
    border: 2px solid transparent;
    text-align: center;
    font-family: inherit;
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
    background-color: #fff;
    cursor: pointer;
    padding: 1rem 1.5rem;
    transition: .3s ease-in-out;
    border-radius: 30px;

}
button.outlined1:hover , button.outlined2 {
    
    background:
            linear-gradient(to right, #fff, #fff),
            linear-gradient(to right, #ccb9d0, #a7d7d7);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}
/*button.outlined2 {*/
/*    transition: .3s all ease-in-out;*/
/*}*/
button.outlined2:hover {
    background-origin: inherit;
    background-clip: inherit;
    color: #fff;
    background: #232323;
    border: none;
    font-weight: normal;

}
/* button.outlined2-hover2 {
    position: relative;
}
button.outlined2-hover2::before {
    content: url("img/download.svg");
    position: absolute;
    left: 25px;
    top: 17px;
    /* opacity: 0; */
/* } */
/* .button.outlined2-hover2:hover::before {
    opacity: 1;
} */ 
main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 3rem;
}
section.main-section {
    display: flex;
    flex-direction: column;
    padding-left:3rem;
}
h1.statement {
    font-size: 3.5rem;
    color: #1a1a1a;
    font-weight: bold;
    line-height: 4rem;
    margin-bottom: 1.5rem;
}
span.design-gradient {
    background: -webkit-linear-gradient(0deg, #ccb9d0, #a7d7d7);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
span.comment1 {
    display: block;
    color: #333;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 2rem;
}
div.main-buttons {
    display: flex;
    gap: 20px;
    align-items: center;
    height: 150px;
}
button.style-main-buttons {
    padding: 1rem 3.5rem;
}
img.img-product {
    padding-right: 2rem;
}
article {
    display: flex;
    gap: 20px;
    align-items: center;
}
span.designer {
    font-size:.8rem ;
    color: #acacac;
}
footer {
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 2rem 0 0 6rem ;
    height: 150px;
}